body{
    background-color: hsl(212, 45%, 89%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.rectangle {
  width: 23vw;
  height: 36vw;
  background-color:white;
  border-radius: 5%;
  margin: 0 auto;
  position: relative;
}
